.top-dist-list-item {
  display: flex;
  align-items: center;
}
.top-dist-num {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #94a3b8;
}
.top-dist-name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #94a3b8;
  margin-left: 10px;
  margin-right: 25px;
}
